#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #60832c);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #9ac445);
}

.card {
  padding: 2em;
}

.header{
  padding: 20px;
  background-color: #f0f5e5;
  margin-top: 0%;
  margin: auto;
  height: 15vh;
  clear: both;
  position: absolute;
  left: 0;
  top: 0 ;
  text-align: justify;
  width: 97vw;
  overflow-x:hidden;
}

.grid-container{
  display: grid ;
  grid-template-columns: auto auto auto auto auto ;
}

.grid-container-footer{
  display: grid ;
  grid-template-columns: auto auto auto auto auto ;
  justify-content: center;
}


#logo-grid{
  grid-row: 1;
  grid-column: 1;
}

.logo-footer {
  height: 5em;
  padding: 1.5em;
}

#footer1{
  grid-row: 1;
  grid-column: 2;
}

#footer2{
  grid-row: 1;
  grid-column: 3;
}

#footer3{
  grid-row: 1;
  grid-column: 4;
}